{% extends 'core/base.html' %}
{% load htmlattributes static %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <h2>Change Password</h2>

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group required{% if form.password.errors %} has-error{% endif %}">
            <label for="{{ form.password.auto_id }}" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-3">
                {{ form.password|htmlattributes:'class:form-control' }}
                {% if form.password.errors %}
                    <p class="help-inline text-danger">{{ form.password.errors|striptags }}</p>
                {% endif %}
            </div>
        </div>
        <div class="form-group required{% if form.password2.errors %} has-error{% endif %}">
            <label for="{{ form.password2.auto_id }}" class="col-sm-2 control-label">Confirm Password</label>
            <div class="col-sm-3">
                {{ form.password2|htmlattributes:'class:form-control' }}
                <p class="help-inline small">
                    <a href="#" data-toggle="modal" data-target="#passwordRequirementsModal">Password requirements</a>
                </p>
                {% if form.password2.errors %}
                    <p class="help-inline text-danger">{{ form.password2.errors|striptags }}</p>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </div>
    </form>

    <div class="modal fade" id="passwordRequirementsModal" tabindex="-1" role="dialog" aria-labelledby="passwordRequirementsModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Password Requirements</h4>
                </div>
                <div class="modal-body">
                    <p>Passwords must meet the following requirements:</p>

                    <ul>
                        {% for help in password_validators_help_texts %}
                            <li>{{ help|safe }}</li>
                        {% endfor %}
                    </ul>
               </div>
            </div>
        </div>
    </div>
{% endblock %}
